<h3> <a class="btn btn-secondary" href="/employee"><i class="fas fa-plus"></i> Create New</a> Employee List</h3>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>  
        {{#each list}}
        <tr>     
            <td>
                {{#each this}} 
                    {{this.fullname}}  
                {{/each}}
            </td>
            <td>
                {{#each this}}
                    {{this.email}} 
                {{/each}}</td>
            <td>
                {{#each this}} 
                    {{this.mobile}}
                {{/each}}</td>
            <td>
                {{#each this}}
                    {{this.city}} 
                {{/each}}
            </td>
            <td>
                <a href="/employee/{{this._id}}" title="Edit"><i class="fas fa-pencil-alt"></i></a> &nbsp;
                <a href="/employee/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record.!')" title="Delete"><i class="fas fa-trash"></i></a>
            </td>     
        </tr>
        {{/each}}    
    </tbody>
</table>
